{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}
<h1>Nos produits </h1>
<br>
{% for produits in prod %}

<img src='uploads/attachements/{{produits.attachement}}' alt={{produits.nom}}>  

<h1>{{ produits.nom }} </h1>

<p> {{produits.description}}</p>

<strong>{{( produits.prix /100)|number_format(2,',','.')}}€</strong>
<br>
<a href="{{ path('cart_add', {id: produits.id}) }}">Ajouter au panier</a>

<hr>
{% endfor %}

{% endblock %}
